Madison.ResWare/Madison.ResWare.Service/Service References/EstimateFeesService/estimatefeesservice2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EstimateFeesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="HUDFees" nillable="true" type="tns:ArrayOfHUDFees" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstimateFeesResponse" nillable="true" type="tns:EstimateFeesResponse" />
  <xs:complexType name="ArrayOfHUDFees">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HUDFees" nillable="true" type="tns:HUDFees" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHUDFees" nillable="true" type="tns:ArrayOfHUDFees" />
  <xs:complexType name="HUDFees">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="HUDLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HUDLineDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HUDFees" nillable="true" type="tns:HUDFees" />
</xs:schema>